<div class="page_container">
    <div class="collection_list">
        <div>
            <div class="wrapper">
                {{#list 4}}
                <div class="item">
                    <a href="./" class="item_link">
                        <div class="img">
                            <img src="{{base_url}}image/col_{{this}}.jpg" alt class />
                        </div>
                        <p class="title">2019 Spring/Summer</p>
                    </a>
                </div>
                {{/list}}
            </div>
        </div>
        <div id="panel-collection_detail"></div>
    </div>
</div>
