.page-collection {
    .collection_list {
        .item {
            margin-bottom: 92px;
        }
        .item_link {
            position: relative;
            img {
                width: 100%;
            }
        }
        .title {
            font-family: $FM;
            font-size: 64px;
            line-height: 64px;

            position: absolute;
            bottom: -20px;

            width: 100%;

            text-align: center;

            color: #000;
        }
    }
}
