<div class="page_footer">
    <div class="information module">
        <div class="container  w">
            <div class="header">information</div>
            <div class="footer-body">
                <div>
                    <img class="logo" src="@/asset/image/logo.png" alt="" class="">
                </div>
                <div class="address">
                    <span class="text">Address: No. 1108, Level 1, 33 Sanlitun Road, Chaoyang District, Beijing /
                        Telephone:4008000424 / E-mail:agender@163.com</span>
                </div>
                <div class="link_list flex mouse_hover-wrapper">
                    <a href="./" class="link">terms of use</a>
                    <a href="./" class="link">privacy policy</a>
                    <a href="./" class="link">guide</a>
                </div>
                <div class="share_list flex flex-end mouse_hover-wrapper">
                    <a href="./" class="share">
                        <i class="ic ag-icon ag-instagram"></i>
                    </a>
                    <a href="./" class="share">
                        <i class="ic ag-icon ag-weibo"></i>
                    </a>
                    <a href="./" class="share">
                        <i class="ic ag-icon ag-weixin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="login"></div>
<div id="carts"></div>
</body>

</html>
