<div class="project module">
    <div class="module_container w">

        <div class="project_item_list">
            {{#project}}
            <div class="item">
                <a href="./" class="">
                    <div class="img">
                        <img src="{{base_url}}image/project-{{this}}.jpg" alt="" class="">
                    </div>
                    <div class="des">
                        <div class="title">A kitsune cap</div>
                        <div class="price">$120.87</div>
                    </div>
                </a>
            </div>
            {{/project}}
        </div>
    </div>
</div>
