.page-project .page_container {
    margin-bottom: 36px;
}
.project_item_list {
    margin-right: -12px;
    &:after {
        display: block;
        clear: both;

        content: "";
    }
    .item {
        float: left;

        width: calc(50% - 12px);
        margin-right: 12px;
        &:nth-child(2n + 1) {
            clear: left;
        }
        .title {
            font-family: MTTMILANO-BOLD;
            font-size: 26px;
            line-height: 32px;

            overflow: hidden;

            width: 100%;

            text-overflow: ellipsis;
        }
        .des {
            overflow: hidden;

            width: 100%;
            padding-top: 10px;
            padding-bottom: 28px;

            text-overflow: ellipsis;
        }
        .price {
            font-size: 18px;
            line-height: 24px;

            color: #707070;
        }
    }
}
