<div class="page_nav">
    <div class="container w flex-yc flex-sb">
        <div class="nav-menu_btn">
            <i class="ic ag-icon ag-menu"></i>
        </div>
        <div class="nav-logo">
            <img src="@/asset/image/logo.png" alt="">
        </div>
        <div class="nav-carts_btn">
            <i class="ic ag-icon ag-cart"></i>
        </div>
    </div>
</div>
