<div class="page_container">
    <div class="w">
        <div class="post_header">
            <span class="text">Notice</span>
        </div>
        <div class="post_body">
            <div class="notice_list">
                <div class="notice-list_container">
                    {{#list 4}}
                    <div class="item">
                        <div class="title">Returns & Exchanges PROCESS</div>
                        <div class="time">2019-06-19</div>
                        <div class="desc" style="display: none">
                            <p>通知：</p>
                            <p>1、使用范围广。在各种法定公文中，通知的使用范围最广。</p>
                            <p>2、使用频率高。</p>
                            <p>3、时效性强。通知对时效性具有严格要求，它所传达的事项，往往要求受文者及时知晓或迅速办理。</p>
                            <p><br></p>
                        </div>
                    </div>
                    {{/list}}
                </div>
                {{> page_tab_bar}}
            </div>
        </div>
    </div>
</div>
<div id="notice_list"></div>
