<div class="page_tab_bar">
    <ul class="pagination">
        <li class="disabled"><span></span></li>
        <li class="active"><span>1</span></li>
        <li><a href="./">2</a></li>
        <li><a href="./">3</a></li>
        <li><a href="./">4</a></li>
        <li><a href="./">5</a></li>
        <li><a href="./">6</a></li>
        <li><a href="./">7</a></li>
        <li><a href="./">8</a></li>
        <li class="disabled"><span>...</span></li>
        <li><a href="./">18</a></li>
        <li><a href="./">19</a></li>
        <li><a href="./"></a></li>
    </ul>
</div>
