@import "~normalize.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
html {
    overflow-x: hidden;

    height: 100%;
}
p {
    font-size: inherit;
}
body {
    font-family: MTTMILANO-REGULAR, Arial, "微软雅黑";
    font-size: 29px;
    line-height: 50px;

    box-sizing: border-box;
    height: 100%;
}

/*     
去除iphone 的默认样式

    border-radius: 0;
    -webkit-appearance: none;
    
*/
video {
    vertical-align: middle;
}
input {
    font-size: inherit;
    line-height: inherit;

    box-sizing: border-box;
    width: 100%;

    color: inherit;
    border: none;
    border-radius: 0;
    outline: none;

    -webkit-appearance: none;
}
// 占位符样式
// input[type=search]::-webkit-input-placeholder{
//     color: blue;
// }
input::placeholder {
    color: #666 !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; //此处只是去掉默认的小×
}

// 可以覆盖样式
// input[type="search"]::-webkit-search-cancel-button {
//     position: relative;

//     width: 30px;
//     height: 30px;

//     border-radius: 50%;
//     background-color: #ebebeb;
// }

// input[type="search"]::-webkit-search-cancel-button:after {
//     font-size: 30px;

//     position: absolute;
//     z-index: 10;
//     top: 0;
//     left: 0;

//     content: "x";

//     color: red;
// }
input:active,
input:focus {
    border: none;
    outline: none;
}

a {
    display: inline-block;

    text-decoration: none;

    color: inherit;
}
i {
    font-style: normal;
}
p {
    margin: 0;
}
img {
    max-width: 100%;

    content: normal !important;
    vertical-align: top;
}
li,
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.ic {
    display: inline-block;
}

.flex {
    display: flex;
}

.flex-yc {
    display: flex;

    align-items: center;
}

.flex-cc {
    display: flex;

    justify-content: center;
    align-items: center;
}

.flex-sb {
    justify-content: space-between;
}
